<ion-content>
<ion-icon  (click)="backto()" name="arrow-back-outline"></ion-icon>


<h1>Recherche destination</h1>



<ion-item>
  <ion-label position="floating">De</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-item>
  <ion-label position="floating">Vers</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-item>
  <ion-label>Date de départ</ion-label>
  <ion-datetime monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14" displayFormat="DD/MMM/YYYY"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label>Classe</ion-label>
  <ion-select interface="action-sheet">
    <ion-select-option>Économie</ion-select-option>
    <ion-select-option>Premium Économie</ion-select-option>
    <ion-select-option>Affaire</ion-select-option>
    <ion-select-option>Première classe</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Nombre de voyageurs</ion-label>
  <ion-select interface="alert">
    <ion-select-option>1</ion-select-option>
    <ion-select-option>2</ion-select-option>
    <ion-select-option>3</ion-select-option>
    <ion-select-option>4</ion-select-option>
    <ion-select-option>5</ion-select-option>
    <ion-select-option>6</ion-select-option>
    <ion-select-option>7</ion-select-option>
    <ion-select-option>8</ion-select-option>
    <ion-select-option>9</ion-select-option>
    <ion-select-option>10</ion-select-option>
  </ion-select>
</ion-item>

<ion-button  (click)="click()">Recherche</ion-button><br>
</ion-content>
