ion-button{
    --border-radius: 20px ;
    --background :#007AFF;
}
ion-content{

    --background:url(image/sky.jpg) no-repeat;
}

ion-card{

    background: none;
}

ion-button{

    position: relative;
    
    text-align: center;
    margin-top: 80px;
    width: 60%;
    vertical-align: 50%;
    left: 20%;
    
    }

    h1{

text-align: center;


    }