<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Acceuil</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="vols">
        <ion-icon name="airplane-outline"></ion-icon>
        <ion-label>Vols</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="research">
        <ion-icon name="search-circle-outline"></ion-icon>
        <ion-label>Rechercher</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Compte</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="param">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Parramètre</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>




