
<ion-content>
  <span class="arrow"></span>
  <p class="title">Mes vols</p>

  <div class="flight">

    <div class="card1">
      <div class="airline_logo">
        <ion-img src="https://i.ya-webdesign.com/images/air-france-logo-png-8.png"></ion-img>
      </div>
      <div class="price"><span class="number">Flight No</span> AF645</div>
      <div class="time">
        8:00 pm <ion-img  class="logo" src="https://image.flaticon.com/icons/png/512/68/68380.png"></ion-img><span class="land">2:15 pm</span>
      </div>
      <div class="duration">
        <span class="first_part">Duration :</span> 17h15 m <span class="first_part"> | Non - Stop</span>
      </div>
    </div>

    <div class="card1">
      <div class="airline_logo">
        <ion-img src="https://i.ya-webdesign.com/images/air-france-logo-png-8.png"></ion-img>
      </div>
      <div class="price"><span class="number">Flight No</span> AF342</div>
      <div class="time">
        6:00 pm <ion-img  class="logo" src="https://image.flaticon.com/icons/png/512/68/68542.png"></ion-img><span class="land">1:15 am</span>
      </div>
      <div class="duration">
        <span class="first_part">Duration :</span> 17h15 m <span class="first_part"> | Non - Stop</span>
      </div>
    </div>


  </div>



</ion-content>