<ion-content>
  <div class="header">
    <h2>Paramètres</h2>
  </div>

  <div class="box">
    <h2>Jean-Pierre Gilles</h2>
  </div>
  <div class="button">
    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
  </div>
</ion-content>
