.header {
  background-color: chocolate;
  height: 80px;
  padding-top: 1px;
}

.header h2 {
  color: white;
  font-weight: bold;
  text-align: left;
}

.box {
  padding: 10px 10px 10px 15px;
}

.button {
  display: grid;
  padding-top: 20px;
}

ion-content {
  --background: url(image/sky.jpg) no-repeat;
}

.deco {
  margin-top: 250px;
}
