<ion-content>
  <div class="header">
    <h2>Paramètres</h2>
  </div>

  <div class="box">
    <h2>Jean-Pierre Gilles</h2>
  </div>
  <!-- <div class="button">
    <ion-button>
      Comptes et cartes bancaires
      <ion-icon slot="end" name="play-outline"></ion-icon>
    </ion-button>
    <ion-button>
      Préférences de paiement
      <ion-icon slot="end" name="play-outline"></ion-icon>
    </ion-button>
    <ion-button>
      Notifications
      <ion-icon slot="end" name="play-outline"></ion-icon>
    </ion-button>
    <ion-button>
      Infos légales
      <ion-icon slot="end" name="play-outline"></ion-icon>
    </ion-button>
  </div> -->

  <ion-button (click)="click()">Comptes et cartes bancaires</ion-button>
  <ion-button (click)="click()">Préférences de paiement</ion-button><br />
  <ion-button (click)="click()">Notifications</ion-button>
  <ion-button (click)="click()">Infos légales</ion-button><br />

  <ion-button class="deco" (click)="logOut()">logout</ion-button>
</ion-content>
