<ion-content>
  <div class="header">
    <h2>Paramètres</h2>
  </div>

  <div class="box">
    <h2>Jean-Pierre Gilles</h2>
    <ion-avatar>
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
  </div>

  <ion-button (click)="click()">Comptes et cartes bancaires</ion-button>
  <ion-button (click)="click()">Préférences de paiement</ion-button><br />
  <ion-button (click)="click()">Notifications</ion-button>
  <ion-button (click)="click()">Infos légales</ion-button><br />

  <ion-button class="deco" (click)="logOut()">logout</ion-button>
</ion-content>
