ion-content{

    --background:url(image/sky.jpg) no-repeat;
}
h1{

    text-align: center;
}
ion-button{

position: relative;

text-align: center;
margin-top: 70px;
width: 60%;
vertical-align: 50%;
left: 20%;

}