<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/param"
          text="Paramètres"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="titre">
      <h2>Compte et cartes bancaires</h2>
    </div>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Société Générale</ion-label>
      <ion-button fill="outline" slot="end">Voir</ion-button>
    </ion-item>

    <div class="test">
      <ion-card-content>
        <ion-label>Comptes et cartes bancaires</ion-label>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Visa</ion-label>
      <ion-button fill="outline" slot="end">Voir</ion-button>
    </ion-item>

    <div class="test">
      <ion-card-content>
        <ion-label>Comptes et cartes bancaires</ion-label>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Visa</ion-label>
      <ion-button fill="outline" slot="end">Voir</ion-button>
    </ion-item>

    <div class="test">
      <ion-card-content>
        <ion-label>Comptes et cartes bancaires</ion-label>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
