ion-content{

    --background:url(image/sky.jpg) no-repeat;
}
  
  .card1 {
    display: block;
    width: 250px;
    height: 145px;
    background-color: whitesmoke;
    border-radius: 10px;
  
  }
  
  .airline_logo {
    display: block;
    width: 30%;
    margin-left: 10px;
    margin-top: 50px;
  }
  
  .price {
    display: block;
    font-size: 12px;
    color: black ;
    margin-left: 210px;
    font-weight: bold;
  }
  
  .time {
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-left: 10px;
  }
  
  .logo {
    width: 14px;
    display: block;
    margin: auto;
  
  }
  
  
  .land {
    display: block;
    margin-left: 190px;
  }
  
  .number {
    color: #9d9fa6;
    font-size: 12px;
  }
  
  .duration {
    color: black;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
  
  }
  
  .first_part {
    font-size: 12px;
    color: #9d9fa6;
  
  
  }


.flight{

position: relative;
width: 60%;
vertical-align: 50%;
left: 17%;
margin-bottom: 40px;

}

h1, h3 {
    margin-left: 30px;
}

h1 {
    font-size: 40px;
    margin-top: 80px;
}

h3 {
    margin-top: 30px;
}
