<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/param"
          text="Paramètres"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="titre">
      <h2>Notifications</h2>
    </div>
  </ion-header>

  <ion-content>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Recevez des rappels sur vos vols</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-content>
</ion-content>
