<ion-toolbar>
  <ion-icon  (click)="backto()" name="arrow-back-outline"></ion-icon>
  <ion-title>Mon Compte</ion-title>

</ion-toolbar>

    <ion-content>
      <ion-img  class="photo" src="https://i.ibb.co/34PyQFT/Group-8245.png"></ion-img>
      <p class="text">Jean Pierre Gilles</p>

      <p class="info">Mes coordonées</p>
      <div class="modify">
        <p class="plus">Modifier ></p>
      </div>
      <p class="info">Mes réservations</p>
      <div class="modify">
        <p class="plus">Voir plus ></p>
      </div>





    </ion-content>








