<ion-toolbar>
  <ion-title>E-billet</ion-title>
</ion-toolbar>

<ion-content>
  <div class="billet">

    <span class="title">Billet de vol</span>

    <div class="type">
      Business Class
    </div>

    <div class="travel">
      <span class="destination">CDG</span><ion-img class="icon" src="https://w7.pngwing.com/pngs/237/184/png-transparent-airplane-icon-a5-computer-icons-black-plane-free-flight-airplane-flight-vehicle-transport.png"></ion-img><span class="destination">DEL</span>
    </div>

    <div class="passenger">
      <span class="adult">Passenger</span><br>
      1 Adulte
    </div>

    <div class="reference">
      <span class="adult">Flight No</span><br>
      BKN7
    </div>

    <div class="category">
      <span class="adult">Class</span><br>
      Business
    </div>

    <div class="date">
      <span class="adult">Date</span><br>
        12 Février 2020
    </div>

    <div class="gate">
      <span class="adult">Gate</span><br>
      66 B    </div>

    <div class="seat">
      <span class="adult">Seat</span><br>
        21B
    </div>

    <span class="cut">-------------------------------------------------------------------------------</span>

    <ion-img  class="barcode" src="https://i.ibb.co/0t8cj6Z/Barcode.jpg"></ion-img>

    <div class="ticket_number">
      9824 0972 1742 1298
    </div>

  </div>
</ion-content>
