<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/cartesbancaire"
          text="Paramètres"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="titre">
      <h2>Enregistrer carte bancaire</h2>
    </div>
  </ion-header>

  <ion-item>
    <ion-label color="light">Nom</ion-label>
    <ion-input color="light>" placeholder="Jean Dupont" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">Numéro de carte</ion-label>
    <ion-input
      color="light>"
      placeholder="0123 .... .... ...."
      type="number"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">Date</ion-label>
    <ion-input color="light>" placeholder="10/02" type="date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">Crypto</ion-label>
    <ion-input color="light>" placeholder="123" type="number"></ion-input>
  </ion-item>
</ion-content>
